include README.rst
include LICENSE.txt
include CHANGES.txt
include docs/sphinx/conf.py
include docs/sphinx/index.rst
include docs/sphinx/Makefile
include gsw/*.py
include gsw/gibbs/*.py
include gsw/test/*.py
include gsw/utilities/*.py
include gsw/utilities/data/*.npz
